#include "amlpic.h"

PicSetting_t pic_color_space;

AMLPIC_HANDLE_t colorSpaceHandle;

pic_color_space.op = PIC_OP_FORMAT_CONVERT;
/*the decoded video frame from hardware decoder is PIC_FORMAT_NV12*/
pic_color_space.config_t.fmt_con.src_format  = <PicFormat_t定义的图片像素格式>;
pic_color_space.config_t.fmt_con.dest_format = <PicFormat_t定义的图片像素格式>;
pic_color_space.config_t.fmt_con.width       = <图片的宽度>;
pic_color_space.config_t.fmt_con.height      = <图片的高度>;

//在开始图片转换前初始化
colorSpaceHandle = amlPicInit(&pic_color_space);

while (一帧一帧图片数据输入) {
    //amlpic.h的注释来调用处理函数
    amlPicProc();
}

//所有图片处理完成后，释放colorSpaceHandle
amlPicRelease(colorSpaceHandle);