#include "amlpic.h"

PicSetting_t pic_scale;

AMLPIC_HANDLE_t picScaleHandle;

pic_scale.op = PIC_OP_SCALE;
pic_scale.config_t.pic_scl.format      = <PicFormat_t定义的图片像素格式>;
pic_scale.config_t.pic_scl.src_width   = <原始的图片宽度>;
pic_scale.config_t.pic_scl.src_height  = <原始的图片高度>;

pic_scale.config_t.pic_scl.dest_width  = <resize之后的图片宽度>;
pic_scale.config_t.pic_scl.dest_height = <resize之后的图片高度>;

//在开始图片resize前初始化
picScaleHandle = amlPicInit(&pic_scale);

while (一帧一帧图片数据输入) {
    //amlpic.h的注释来调用处理函数
    amlPicProc();
}

//所有图片处理完成后，释放picScaleHandle
amlPicRelease(picScaleHandle);